head {
    text-align: center;
}

body {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 200px;
	margin-right: 200px;
	background: #500000;
  font-family: 'Merriweather', serif;
  height: auto;  
}
p {
  font-family: 'Merriweather', serif;
  word-spacing: 3px;
  text-indent: 5%;
  height: auto;
}

abbr {
  color: #500000;
}
.aboutContainer {
  text-align: left;
}

.centerImg {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 50%;
}


.topNav {
  text-align: center;
  padding-bottom: 25px;
}

.topLine {
  padding-top: 10px;
  padding-bottom: 5px;
}

.footer {
  position: relative;
  height: 5%;
  width: 100%;
    
  text-align: left;
  font-family: 'Merryweather', serif;
}

.copyright {
  position: static;
  line-height: 25px;
  text-align: center;
  bottom: 0;
	color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  background-color: #111;
}

.row {
  display: flex;
}

.column {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  float: left;
  width: 50%;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

.maroonAndWhite {
	background: #FFFFFF; 
	height: auto; 
	padding-top: 0; 
	padding-left: 50px; 
	padding-right: 50px;
	padding-bottom: 100px;
}

a {
  color: #500000;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 0%;
  
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-github-square {
  background: #6f42c1;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}