head {
    text-align: center;
    font-family: 'Merriweather', serif;
}
body {
    text-align: center;
    padding-top: 50px;
    background: #FFFDD0;
    font-family: 'Merriweather', serif;
    
}
h4 {
    padding: 10px;
}
.secondary {
    padding: 10px;
}